.alert {
    color: rgb(255, 255, 255);
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

.alert-success {
    background-color: rgb(5, 115, 5);
}

.alert-warning {
    background-color: rgb(161, 106, 3);
}

.alert-danger {
    background-color: rgb(175, 49, 3);
}